@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
}
@{
    ViewBag.Title = "Заблокировано";
}

<hgroup>
    <h1 class="text-danger">Заблокировано.</h1>
    <h2 class="text-danger">Эта учетная запись заблокирована. Попробуйте еще раз позже.</h2>
</hgroup>
