.card {
  width: 15rem;
  height:15rem; 
}
.filmListContent {
    overflow-y: scroll;
}

body {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100%;
}
html {
    height: 100%;
}
.container {
    
}
.sideMenu {
    position: fixed;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    height:85%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}